.tableHeaderRow {
  @mixin light {
    background-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
  }
}

.taskDescription {
  font-size: var(--mantine-font-size-sm);

  @mixin light {
    color: var(--mantine-color-gray-6);
  }

  @mixin dark {
    color: var(--mantine-color-dark-3);
  }
}

.clickableName {
  cursor: pointer;
}

.modalBody {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}

.modalNudeInput {
  border: none;
  background: transparent;
  border-radius: 0;
}

.modalNudeTitle {
  font-size: var(--mantine-font-size-xl);
}
